/* Définition des polices personnalisées */ 

@font-face
{
    font-family: 'BallparkWeiner';
    src: url('polices/ballpark.eot');
    src: url('polices/ballpark.eot?#iefix') format('embedded-opentype'),
         url('polices/ballpark.woff') format('woff'),
         url('polices/ballpark.ttf') format('truetype'),
         url('polices/ballpark.svg#BallparkWeiner') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Dayrom';
    src: url('polices/dayrom.eot');
    src: url('polices/dayrom.eot?#iefix') format('embedded-opentype'),
         url('polices/dayrom.woff') format('woff'),
         url('polices/dayrom.ttf') format('truetype'),
         url('polices/dayrom.svg#Dayrom') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*Elements principaux de la page*/ 

body				/*Contenu du site*/
{
	background: #D3D3C6;
	color: #181818;
	font-family: 'Trebuchet MS', Arial, sans-serif;
    margin: 0;
    display:block;
}


#bloc-page
{
	width: 100%;
	margin: 0;
}

/*Tete de page*/

.site-header
{
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-size: 0.9em;
    width: auto;
    display: block;
    text-align: top;
    
 }

nav									
{
	padding: 10px;
    background-color: white;
    display: block;
    width: 100%;
    text-align: center;
    font-size: 1.2em;
    opacity: 0.92;
    
    
}

nav a:hover							
{
    color: navajowhite;					
    border-bottom: 2px solid navajowhite;    
}

nav ul								
{	
    list-style-type: none;				
}

nav li								
{
    display: inline-block;				
    vertical-align: top;
    list-style-type: none;
    margin-right: 35px;					
}

nav a								
{		
    font-size: 1em;						
    color: #181818;						
    padding-top:0px;					
    padding-bottom: 0px;				
    text-decoration: none;				
}

titre 
{
    width: auto;  
    text-align: center;
    display: block; 
    margin-top: 20px;
}

titre a 
{
    font-size: 23px;
    text-decoration: none;
    color:  black;
	text-align: center;
}

titre p 
{
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 1em;
    color: #888;
	padding-bottom: 20px;
}

/*Bannière*/


/*#banniere-image
{
	margin-top: 15px;
	border-radius: 5px;
	height: 200px;
	background: url('photos/mucem.jpeg') no-repeat;
	position: relative;
	box-shadow: 0px 4px 4px #1c1a19;
	margin-bottom: 25px;
}*/

/*Contenu de la page*/ 

section 
{
    width: 80%;
	text-align: center;
	margin: 0% 12% 0% 12%;
}

section h1, footer h1, nav a 
{
	font-family: Dayrom, serif;
	font-weight: normal;
}

/*Corps du site*/

article
{
	border-left: 0%;
	/*align-items: left;*/
    width: 65%;
	text-align: justify;
	border-style: inset;
	
}

article h1 
{
	text-align: center; 
	font-size: 1.2em;
}
article, aside
{
	display: inline-block;
	vertical-align: top;
	text-align: justify;
}


article p
{
	padding: 1px;
    font-size: 1em;
}
/*
article date 
{
	font-size: 0.2em; 
	
}*/
aside
{
	/*align-items: right;*/
    position: relative;
	width: 29%;
	background-color: #706b64;
    box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 5px;
   /* padding: 2px;*/
    color: white;
    font-size: 1em;
    display: inline-block;
    margin: 0px 0px 0px 1%;
}


aside h1 
{
	text-align: center;
}

aside p 
{
	text-align: center;
}

/*#moi
{
	display: inline-block;
    text-align: center;
}*/
/* social-network ul
{
	text-align: center;
}*/
aside ul								
{	
    list-style-type: none;	
	/*text-align-last: center;*/
	/*margin-left: 45px;*/
}

aside li								
{
	/*text-align: center;*/
    display: inline-block;	
    list-style-type: none;
	/*margin: 0px 5px 0px 0px;*/
	/*padding: 0px;*/
}

aside a								
{		
    font-size: 1em;										
   /* padding: inherit;*/
   /* text-decoration: none;	*/			
}
